.fr-toolbar.fr-top {
  box-shadow: 0 0 0;
  background: #f5f5f5;
  border: 1px solid #e5e5e5 !important;
  border-bottom: none !important;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
  box-shadow: 0 0 0;
  border: 1px solid #e5e5e5 !important;
  border-top: none !important;
}
